.blank-page {
	@media (min-width: 1024px) {
		height: 725px;
	}
}

.big-container {
	background-color: #ebebeb;
	padding: 15px;

	@media (min-width: 1024px) {
		padding: 30px;
		width: 60%;

		position: absolute;
		left: 50%;
		transform: translate(-50%, -10%);
	}
}
.intro-copy {
	text-align: center;
	h1 {
		text-transform: uppercase;
	}
}
.form-outer-container {
	background-color: #ebebeb;
	.form-inner-container {
		background-color: white;
		padding: 20px;

		.bold-text {
			font-weight: bold;
		}

		@media (min-width: 768px) {
			.form-info {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				input {
					flex-basis: 45%;
					&[name="address"] {
						flex-basis: 100%;
					}
				}
			}
		}
	}
	.required-field {
		text-align: right;
	}
}
.form-info {
	@include flexColumn;
	gap: 20px;

	input {
		height: 50px;
	}
}

.submit-btn {
	@include widthHeight(100%, 60px);
	margin-top: 80px;
	font-size: 20px;

	color: white;
	background: linear-gradient(
		77deg,
		rgba(124, 54, 136, 1) 0%,
		rgba(205, 63, 101, 1) 62%,
		rgba(234, 126, 63, 1) 100%
	);
}
